 * {
   box-sizing: border-box;
 }

 body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background: linear-gradient(to bottom left, #0099cc 0%, #003366 100%);
 }

 .bgDark {
   background-color: #242424;
 }

 .mainSideBar {
   width: 20%;
   display: flex;
 }

 .mainContent {
   width: 80%;
   display: flex;
 }

 /* /************************************************************************ SideBar */
 .containerSideBar {
   overflow-x: 0;
   background-color: #242424;
 }

 .containerSideBar .row {
   margin-right: 0px;
   position: sticky;
   top: 0%;
   bottom: 0%;
 }

 .sidenav {
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   font-size: 1.3rem;
   min-height: 100vh;
 }

 .sidenav .active,
 .sidenav .drop:hover {
   color: aqua;
 }

 .sidenav ul {
   list-style: none;
   margin-left: 0;
   padding-left: 0;
 }

 .sidenav li {
   margin-bottom: 1rem;
 }

 .sidenav li i {
   margin-left: 0.75rem;
 }

 .sidenav a {
   text-decoration: none;
   color: white;
   margin-left: 0.75rem;
 }

 .sidenav a>span {
   margin-left: 0.5rem;
 }

 .sidenav ul li:hover {
   border-left: aqua dotted 2px;
   transition: 0.5s ease all;
 }

 .sidenav li ul {
   margin-left: 0.25rem;
 }

 .sidenav li ul li {
   margin-left: 2rem;
   margin-top: 1rem;
 }

 /* /************************************************************************ SideBar Ends*/
 /* /************************************************************************ CV*/
 .containerCV {
   overflow-y: 0;
   display: flex;
   flex-direction: column;
   width: 100%;
 }

 .containerCV .card {
   background-color: #242424;
   margin-bottom: 1rem;
   margin: 1rem;
 }

 .containerCV h1 {
   margin-top: 1rem;
   align-self: center;
 }

 .containerCV hr {
   border: antiquewhite solid 1px;
   margin: 5px !important;
 }

 .containerCV h2 {
   align-self: center;
 }

 .containerCV .profile {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
   margin-top: 1rem;
   width: 80%;
 }

 .containerCV .experience {
   align-self: center;
   display: flex;
   flex-direction: column;
   font-size: 1.2rem;
   font-weight: 400;
   justify-content: center;
   margin-top: 1rem;
   text-align: justify;
   width: 80%;
 }

 .containerCV h3 {
   align-self: center;
   border-bottom: #242424 solid 2px;
   border-top: #242424 solid 2px;
   color: #242424;
   text-align: center;
   margin-top: 1rem;
   width: 37.5%;
 }

 .containerCV .profile .divBlock {
   display: flex;
   justify-content: center;
 }

 .containerCV .profile blockquote {
   align-self: center;
   font-size: 1.2rem;
   font-weight: 500;
   text-align: justify;
   width: 80%;
 }

 .containerCV .languages {
   display: flex;
   justify-content: center;
   gap: 5rem;
   font-size: 1.1rem;
   font-weight: 500;
   width: 100%;
   margin-top: 1rem;
 }

 .containerCV .profile .picture {
   width: 20%;
   border-radius: 50%;
   border: #242424 solid 3px;
 }

 .containerCV .experience h4 {
   border-bottom: antiquewhite solid 1px;
   margin-top: 2rem;
 }

 .containerCV .experience h5 {
   color: rgb(214, 144, 245);
 }

 .containerCV .experience h4 span {
   color: rgb(181, 173, 173);
   font-style: italic;
 }

 .containerCV .experience h5 span {
   color: rgb(184, 233, 87);
   font-style: italic;
 }

 .containerCV .experience .period {
   color: aqua;
 }

 .containerContact {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   font-size: 1.5rem;
   font-weight: 500;
 }

 .containerContact .card {
   margin-top: 1rem;
   background-color: #242424;
   display: flex;
   flex-direction: column;
   width: 75%;
   align-items: center;
   font-size: 1.5rem;
   font-weight: 500;
 }

 .containerContact .cardAuto {
   width: 35%;
 }

 .containerContact h3 {
  color: rgb(184, 233, 87);
 }

 .containerContact ul li {
   padding: 0.5rem;
 }

 .containerContact ul li i {
   padding: 1rem;
 }

 .containerContact ul li a {
   color: white;
 }

 /* /************************************************************************ CV ends*/

 /* /************************************************************************ Screen 992*/
 @media (max-width: 992px) {
   .sidenav {
     font-size: 1.1rem;
   }

   .sidenav li i {
     margin-left: 0;
   }

   .sidenav li ul li {
     margin-left: 0;
   }
 }

 /* /************************************************************************ Screen 992 Ends*/
 /* /************************************************************************ Screen 768*/
 @media (max-width: 768px) {

   .mainSideBar {
     width: 18%;
     display: flex;
   }

   .mainContent {
     width: 82%;
     display: flex;
   }

   .sidenav {
     font-size: 0.9rem;
   }

   .sidenav a {
     margin-left: 0;
   }

   .containerCV .experience h3,
   .containerCV .profile h3 {
     width: 75%;
   }

   .containerCV .profile blockquote {
     font-size: 1rem;
     font-weight: 500;
     width: 90%;
   }

   .containerCV .experience {
     font-size: 1rem;
     font-weight: 400;
     width: 90%;
   }

 }

 /* /************************************************************************ Screen 768 ends*/

 @media (max-width: 576px) {
   .mainSideBar {
     width: 14%;
     display: flex;
   }

   .mainContent {
     width: 86%;
     display: flex;
   }

   .sidenav a>span,
   .sidenav a>.drop {
     display: none;
   }

   .sidenav {
     font-size: 1.6rem;
   }

   .containerCV .card h1 {
     font-size: 1.3rem;
   }

   .containerCV .card h2 {
     font-size: 1.3rem;
   }

   .containerCV .experience ul {
     padding-left: 1rem;
   }
 }